ipywidgets==8.1.5
matplotlib==3.10.1
numpy==2.2.3
#-------------To install all the required libraries, simply run--------------
#|                                                                          |
#|                   pip install -r requirements.txt                        |
#|                                                                          |
#----------------------------------------------------------------------------
